.coffee__product{
    background-color: #fff;
    width: 100%; 
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

   padding: 1rem;
   position: relative;
}

.cofee__product-img{
    margin-left:2rem;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cofee__product-img img{
    width: 100%;
    height: 100%;
}
.coffee__product-disc{
    position: absolute;
    background: var(--color-footer);
    border-radius: 50px;
    top: 1rem;
    left:1rem;
}
.coffee__product-disc p{
    font-family: var(--font-family);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    padding: 0 1rem;
    
}


.coffee__product-content_stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.coffee__product-content_stars .icon, .price .icon{
    font-size: 20px;
    color: var(--color-footer);
   text-align: center;

}
.coffee__product h3{
    font-family: var(--font-family);
    text-align: center;
    margin: 1rem;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.price div{
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid var(--color-footer);
    display: flex;
    cursor: pointer;
}
.price h2{
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;

}
.price span{
    font-size: 14px;
    line-height: 29px;
    font-weight: 600;
    margin-left: 0.5rem;
    color: #f15555;
    text-decoration: line-through;
    
}







